<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="ui {{this.authService.isLoggedIn() ? 'four' : 'three'}} item tabs menu">
    <a routerLink="home" routerLinkActive="active" class="item"><i class="fa fa-home "></i>&nbsp;Home</a>
    <a routerLink="impfungen" routerLinkActive="active" class="item"> <i class="fa fa-thermometer-quarter "></i>&nbsp;Impfungen</a>
    <a *ngIf="this.authService.IsLoggedAndAdmin()" routerLink="admin" routerLinkActive="active" class="item "> <i class="fa fa-user " ></i>&nbsp;Neue Impfung anlegen</a>
    <a routerLink="login" routerLinkActive="active" class="item"><i class="fa fa-sign-in"></i>&nbsp;{{ getLoginLabel() }}</a>
</div>
<router-outlet></router-outlet>


